@font-face {
    font-family: "shrikhand";
    src: url('fonts/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "robotoB";
    src: url('fonts/Roboto-Bold.ttf');
}
/******body******/
body {
    margin: auto;
}
/****loader spinnig*****/
.loader {
    background:linear-gradient(to bottom right,#FF79DA,#9356DC,#99E2D0);
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-size: 4.6rem;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 5s ease-in-out 3s forwards;
}

.cadreload {
    color: white;
    height: 30%;
    width: 20%;
    margin-top: 30%;
    -webkit-animation: 4s linear 0s infinite alternate mouvement;
    animation: 5s linear 0s infinite alternate mouvement;
  }
  
@-webkit-keyframes mouvement { 
    from { 
        margin-left:-20%; 
    } 
    to { 
        margin-left:100%; 
    }  
}
@keyframes mouvement { 
    from { 
        margin-left:-30%; 
    } 
    to { 
        margin-left:100%; 
    }  
}
.loaderimg{
    width: 250px;
}

/****header******/
.entete {
    text-align: center;
}
/****background du gris clair****/

#fond {
    background-color: #F0F0F0;
    padding: 25px 25px;
}

.logo {
    font-family: "shrikhand";
    margin: 15px;
    width: 165px;
    height: 28px;
}


/******gestion du marker + Parisbelleville****/

.paris {
    background-color: #E1E1E1;
    border-top: 2px #cec6c6 solid;
    width: 100%;
    height: 50px;
    font-size: 1rem;
}

.localisation {
    color: #4b4b4b;
    font-family: "roboto";
}


/****h1 ,h2 gestion alignement****/

.texte {
    text-align: center;
}

h1 {
    font-family: "robotoB";
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-family: "rotobB";
    font-size: 1.5rem;
    padding-top: 20px;
    margin-bottom: 0px;
}

.decouverte {
    font-family: "roboto";
    font-size: 1rem;
    font-weight: normal;
    padding-top: 0px;
    color: #4d4d4d;
}

.h2fonctionne {
    font-family: "roboto";
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
    color: black;
}

.h2restau {
    margin-left: 20px;
}

h3 {
    font-family: "roboto";
    color: black;
    margin-bottom: 5px;
    padding-left: 10px;
}

h4 {
    font-family: "roboto";
    font-weight: normal;
    color: black;
    margin-top: 5px;
    margin-left: 10px
}


/*****bouton explorez****/

.bouton {
    text-align: center;
    margin-top: 15%;
    margin-bottom:15%;
}

.bouton a {
    border-radius: 25px 25px 25px 25px;
    padding: 15px 20px;
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    color: white;
    font-family: "roboto";
}

.bouton :hover {
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    filter: brightness(110%);
}


/******section fonctionnement********/

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.article{
    padding: 20px;
}

.numero,
.para {
    border: #9356DC 2px solid;
}

.para {
    position: relative;
    padding: 5px 0px;
    border-radius: 20px 20px;
    border-color: #F0F0F0;
    background-color: #F0F0F0;
    box-shadow: 0px 5px 0px #F6F6F6;
}

.para:hover {
    background-color: #f5edff;
}

.numero {
    margin-left: -12px;
    float: left;
    border-radius: 20px;
    width: 24px;
    height: 22px;
    text-align: center;
    padding-top: 3px;
    color: white;
    background-color: #9356DC;
}

.explication {
    font-family: "robotoB";
    padding-left: 45px;
    padding-top:8px;
    padding-bottom:8px;
    color: black;
    font-size: medium;
}
.choix{
    display: inline-block;
    margin-left: 15px;
    color: black;
    background-color: #F0F0F0;
}

.fa-mobile-alt {
    color: black;
    padding-right: 10px;
}

.fa-list {
    color: black;
    padding-right: 10px;
}

.fa-store {
    color: black;
    padding-right: 10px;
}

.fa-mobile-alt:hover {
    color: #9356dc;
}

.fa-list:hover {
    color: #9356dc;
}

.fa-store:hover {
    color: #9356dc;
}


/*******section index********/

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    background-color: #F0F0F0;
    width: 100%;
}

.art {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    margin: 15px;
    padding: 0px;
    background-color: white;
}

.nouveau {
    position: absolute;
    text-align: right;
    top: 10%;
    right: 5%;
}

span {
    font-family: "roboto";
    background-color: #99e2d0;
    padding: 5px 5px;
    border-radius: 5px 5px;
    color: #008766;
    font-size: 0.8rem;
    font-weight: bold;
}

.img1 {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

a:link {
    text-decoration: none;
}

.far {
    float: right;
    margin-right: 25px;
}

.fa-heart {
    font-size: 1.3rem;
    color: white;
    margin-top: -2%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 3s ease-out;
}

.fa-heart:hover::before {
    -webkit-text-stroke-width:initial;
    -webkit-text-stroke-color:white;
    color: #9356DC;
    cursor: pointer;
}