/******body******/

body {
    margin: auto;
}


/****header****/

header {
    text-align: center;
}


/****background du gris clair****/

#fond {
    background-color: #F0F0F0;
    padding: 25px 25px;
}

.logo {
    width: 165px;
    height: 28px;
}


/******gestion du marker + Parisbelleville****/

.paris {
    background-color: #E1E1E1;
    border-top: 2px #cec6c6 solid;
    width: 100%;
    height: 50px;
    font-size: 1rem;
}


/****h1 ,h2 gestion alignement****/

.texte {
    text-align: center;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
}
h3{
    color:black;
}
h4{
    color:black;
}


/***h2 fonctionnement*****/

.h2f {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}


/*****bouton explorez****/

.bouton {
    text-align: center;
}

.bouton a {
    border-radius: 25px 25px 25px 25px;
    padding: 10px 30px;
    background: #9356DC;
    color: white;
}

.bouton :hover {
    background: #FF79DA;
}


/******section fonctionnement********/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:15px; 
}

.numero,
.para {
    border: #9356DC 2px solid;
}

.numero {
    margin-top: 15px;
    width: 20px;
    height: 5%;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #9356DC;
}

.para {
    padding: 15px 30px;
    border-radius: 20px;
    border-color: #F0F0F0;
    background-color: #F0F0F0;
    box-shadow: 0px 5px 0px #F6F6F6;
}


/*******section index********/

.men {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    background-color: #F0F0F0;
    width:100%;
}

.art {

    background-color:white;
}
.nouveau{
    position:relative;
    text-align:right;
    top:40px;
    right:10px;
}
span{
    background-color:#00FA9A;
    padding:10px;
    color:#2E8B57;
    font-size:1rem;
    font-weight:bold;
}

.img1 {

    width:100%;
    height:170px;
    object-fit: cover;
}

a:link {
    text-decoration: none;
}

.far {
    float: right;
    margin-right:25px;
}
/*****footer******/
footer{
    background-color:#383e42;
    padding:25px;   
}
.logf{
    width:140px;
    filter: invert(100%);
}
p{
    color:white;
}
