@font-face {
    font-family: "shrikhand";
    src: url('fonts/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "robotoB";
    src: url('fonts/Roboto-Bold.ttf');
}

body{
    margin:auto;
}
/******police*******/
h1{
    font-family:"shrikhand";
    margin:0px 10px;
    font-weight:400;
}

h2{
    font-family:"roboto";
    font-size:1.3rem;
    font-weight:normal;
    margin-left:30px;
    padding-top:20px;
    border-bottom:3px #99e2d0 solid;
    width:8%;
}

h3{
    font-family:"robotoB";
    font-size:1rem;
    font-weight:normal;
    margin-bottom:2px;
    margin-left:5px;
}
h4{
    font-family:"roboto";
    font-size:0.6 rem;
    font-weight:normal;
    margin-top:0px;
    margin-left:5px;
    width:80%;
}

/******header*******/
header {
    text-align: center;
}

.entete{
    display: flex;
    align-items: center;
    width:100%;
}
#logo{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    padding-left: 13%;
}

.fa-arrow-left{
    margin-left: 50%;
    font-size:1.8rem;
    color:black;
}

.img1{
    width:100%;
    height:250px;
    object-fit:cover;
}

.fa-heart {
    font-size: 1.4rem;
    color: white;
    margin-left:25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.fa-heart::before {
    content: "\f004";
    font-weight: bold;
    transition: color 3s ease-out;
}

.fa-heart:hover::before {
    -webkit-text-stroke-width:initial;
    -webkit-text-stroke-color:white;
    color: #9356DC;
    cursor: pointer;
}

.animheart:hover{
    animation: animheart 3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
strong{
    margin-right:10px;
}


/*****menu********/
section{
    position:relative;
    background-color:#f6f6f6;
    border-radius: 50px 50px 0px 0px;
    padding-top:35px;
    margin-top: -40px;
}


article{
    border-radius: 10px 10px 10px 10px;
    padding:1px 0px;
    margin-top:15px;
    background-color: white;
    height: 75px;
    cursor: pointer;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*******animation des cartes********/
.Entrees {
    animation-name: debut;
    transform: scale(1);
    animation-duration: 2s;
}

.plat {
    animation-name: monplat;
    transform: scale(1);
    animation-duration: 4s;
}

.dessert {
    animation-name: desserts;
    transform: scale(1);
    animation-duration: 6s;
}
/*******animation interieur des cartes******/
.align-price{
    display: flex;
    justify-content: space-between;
}
article:hover h4{
    width:50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

article:hover .price{
    -webkit-animation: slide-price 1.8s cubic-bezier(0.250, 0.460, 0.460, 0.940) both;
	animation: slide-price 1.8s cubic-bezier(0.250, 0.460, 0.460, 0.940) both;
    animation-delay: 0.467s;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 75px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    right: -2px;
    position: absolute;
    top: 0;
    opacity: 0;

}

 article:hover .icon {  
    -webkit-animation: slide-validation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-validation 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


article:hover .fa-check-circle {
    font-size: 1.5em;
    color: #fff;
    transition: transform 500ms ease-in-out;
    -webkit-animation: rotateicon 2s ease-in-out both;
	animation: rotateicon 2s ease-in-out both;
  }


/******bouton commander*****/
.bouton {
    font-family:"robotoB";
    text-align: center;
    padding:40px 0px 50px;
}

a.button:link{ 
 text-decoration:none; 
} 
.bouton a {
    border-radius: 25px 25px 25px 25px;
    padding: 10px 30px;
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    color: white;
}

.bouton a:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 6px 6px 8px grey;
  }
  /********media query********/
  @media (min-width: 1440px) {
    h1{
        text-align: center;
        padding-bottom: 20px;
        font-size: 2.5rem;
    }
}
@media (min-width: 1440px) {
    h4{
       
        padding-left:5px;
    }
}
@media (min-width: 1440px) {
    #logo{
        width: 40%;
        height: 70px;
        padding-left: 27%;
    }  
}
@media (min-width: 1440px) {
    .fa-arrow-left{
        margin-left: 50%;
        font-size: 2.5rem;
    }
}
@media (min-width: 1440px) {
    article{
       flex-direction:column; 
       justify-content: space-between;
        width: 25%;
    } 
}
@media (min-width: 1440px) {
    .Entrees{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    } 
}
@media (min-width: 1440px) {
    .plat{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    } 
}
@media (min-width: 1440px) {
    .dessert{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    } 
} 

@media (min-width: 1440px) {
    .bouton a{
        border-radius: 45px 45px 45px 45px;
        padding: 20px 40px;
        font-size: 1.5rem;
    }
} 
