body{
    margin:auto;
}

/******header*******/
header {
    width:100%;
}

.entete{
    width:100%;
    display: flex;
    align-items: center;
    height: 60px;
}
#logo{
    width:50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.img1{
    width:100%;
    object-fit:cover;
}
.fa-heart{
    margin-left:20%;
}

/*****menu********/
section{
    background-color:#f6f6f6;
    position:relative;relative

}
/******bouton commander*****/
.bouton {
    text-align: center;
    position:abolute;
}
a.button:link 
{ 
 text-decoration:none; 
} 
.bouton a {
    border-radius: 25px 25px 25px 25px;
    padding: 10px 30px;
    background-color: #FF79DA;
    color: white;
}

.bouton :hover {
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
}

/*****footer******/
footer{
    background-color:#383e42;
    padding:25px;
    margin-top:15px;   
}
.logf{
    width:140px;
    filter: invert(100%);
}
p{
    color:white;
}